* {
    margin: 0;
    padding:0;
}

body {

    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    background-image: url(./login/estrellas\ contactos\ login.jpg);
    color: white;
    text-align: center;


}

a {
    text-align: center;
}

h5 {
    font-size: 22px;
    color: red;
}
