* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(./login/estrellas\ contactos\ login.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 10%; 
  height: auto;
  position: absolute;
  top: 12%; 
  left: 50%; 
  transform: translateX(-50%);
}

.logo img {
  width: 100%; 
  height: auto;
  object-fit: cover; 
}

.login-box {
  width: 90%; 
  max-width: 400px; 
  background: #4a58ff;
  color: #000;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 50px 30px;
  text-align: center;
}

h2 {
  margin: 0 0 20px;
  font-size: 24px;
}

.user-box {
  position: relative;
  margin-bottom: 30px; 
  text-align: left; 
}

.user-box input {
  width: 100%;
  padding: 10px 5px; 
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
  border: none;
  border-bottom: 2px solid #000; 
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 10px; 
  left: 10px;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: all 0.3s ease; 
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px; 
  left: 0;
  color: #ffc107;
  font-size: 12px;
}

.login-box a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px; 
  background: #ffc107;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.login-box a:hover {
  background: #e0a800; 
}

#button {
  background-color: #2d3688;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}
